@import url('https://fonts.google.com/share?selection.family=Jomhuria');
/* font-family: 'Jomhuria', cursive; */

body{
  margin: 30px;
  font-family: 'Jomhuria', cursive;
  background-color: #e8e8e4;
}